<div class="container is-fluid">
  <p class="event title is-3">Events</p>
</div>

<div class="column is-half">
  <% @events.each do |event| %>
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <%= render 'info', event: event %>
          </div>
            <% if user_signed_in?%>
              <%= link_to 'Show', event_path(event), class: "button is-small" %>

              <% if current_user.id == event.organizer_id %> 
                <%= link_to 'Edit', edit_event_path(event), class: "button is-small" %>
                <%= link_to 'Delete', event, method: :delete, class: "button is-small",
                  data: { confirm: 'Are you sure?' } %>
              <% end %> 
            <% end %>

        </div>
      </article>
    </div>  
  <% end %>
</div>

<br>
