<div class="container is-fluid">
  <p class="event title is-3">Events</p>
</div>

<div class="column is-half">
  <% @events.each do |event| %>
    <%= link_to event_path(event) do %>
      <div class="box event-box">
        <div class="content">
          <%= render 'info', event: event %>
        </div>
      </div>

    <% end %>  
  <% end %>
</div>

<br>
